.h{
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single{
  display: flex;
  width : 700px;
  height : auto;
  background-color: aquamarine;
  border-radius: 8px;
}
